# Ignore everything
*

# But not these files...
!.gitignore
!addm2p_gen.vhd 
!addm2p.vhd 
!bram.vhd 
!csa.vhd 
!dsp_signed_mult.vhd 
!dsp_unsigned_mult.vhd 
!ff.vhd 
!ff_signed.vhd 
!ff_unsigned.vhd 
!komult.vhd 
!komult_mod2n.vhd 
!modadd.vhd 
!modsub.vhd 
!mult_mod2n.vhd 
!mult.vhd 
!ntt_utils.vhd 
!ntt_lib.vhd 
!ntt.vhd 
!sr.vhd 
!subp2p_gen.vhd 
!subm2p_gen.vhd 
!subp2p.vhd 
!utils.vhd 
!AddressGenerator.vhd 
!doublebram.vhd 
!butterfly_gen_cnt.vhd 
!J_mult_mod_beta.vhd 
!ha.vhd 
!fa.vhd 
!Q_mult_p.vhd
!AddressGenerator_512_pe1.v
!AddressGenerator_1024_pe1.v
!AddressGenerator_4096_pe1.v
!README.md
!LICENSE

# ...even if they are in subdirectories
# !*/
!1024/ 
!1024/28bits/
!1024/28bits/dsp
!1024/28bits/dsp/src
!1024/ 
!1024/28bits/
!1024/28bits/ko
!1024/28bits/ko/src
!1024/ 
!1024/30bits/
!1024/30bits/dsp
!1024/30bits/dsp/src
!1024/ 
!1024/30bits/
!1024/30bits/ko
!1024/30bits/ko/src

!4096/ 
!4096/28bits/
!4096/28bits/dsp
!4096/28bits/dsp/src
!4096/ 
!4096/28bits/
!4096/28bits/ko
!4096/28bits/ko/src
!4096/ 
!4096/30bits/
!4096/30bits/dsp
!4096/30bits/dsp/src
!4096/ 
!4096/30bits/
!4096/30bits/ko
!4096/30bits/ko/src

